<html>
    <head>
        <meta name="view port" content="width=device,initial-scaler=1">
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap-theme.css">
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap-theme.css.map">
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap-theme.min.css.map">
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap.min.css">|
            <link rel="stylesheet" type="text/css" href="..//Public/Css/bootstrap.min.css.map"> 
    <title> Free Lancer's</title>
</head>
<style>   
p{
    display: block;
}
</style>
</head>
<body>
      
 <div class="row" ;>
<div class="col-md-6 col-sm-6 col-xs-6 " >
    <div class="jumbotron" ><img src="../Public/Img/B.jpg"; height="220"; width="200"></div>
</div>



        <div class="col-md-6 col-sm-6 col-xs-6" >
            <div class="jumbotron" ><p>Many parents in full-time employment prefer to leave their children with grandparents when they are at work because they feel their child will be safer with someone from within the family circle. In other words they do not trust a stranger to look after their child and feel confident that no harm will come to the child whilst being look after by grandma or grandpa. For example, a 2013 study from Cambridge University showed that 62% of working </p></div>
        </div>
    </div>       
    
    <div class="row" ;>
        <div class="col-md-6 col-sm-6 col-xs-6 " >
            <div class="jumbotron" > <p>Many parents in full-time employment prefer to leave their children with grandparents when they are at work because they feel their child will be safer with someone from within the family circle. In other words they do not trust a stranger to look after their child and feel confident that no harm will come to the child whilst being look after by grandma or grandpa. For example, a 2013 study from Cambridge University showed that 62% of working </p></div>
        </div>
        
        
              
                <div class="col-md-6 col-sm-6 col-xs-6" >
                    <div class="jumbotron" ><img src="../Public/Img/a.jpg"; height="220"; width="200"></div>
                </div>
            </div>       
             
        
        <div>
<div class="alert alert-info" style="display: inline-block"><img src="../Public/Img/B.jpg"; height="20"; width="200"> </div>
<div class="alert alert-info" style="display: inline-block">kjfnsjdfnjnfdkndklnksmkldsgdfkldklfkdlklfbkjlfbngjkbnjgnjnbjbnj </div>
        
        <div>
            <div class="alert alert-info" style="display: inline-block"><img src="../Public/Img/a.jpg"; height="20"; width="200"> </div>
            <div class="alert alert-info" style="display: inline-block">kjfnsjdfnjnfdkndklnksmkldsgdfkldklfkdlklfbkjlfbngjkbnjgnjnbjbnj </div>
                    </div>
            
</div>

    </body>
</html>