<html>
<head>
<style>
    
    h1,h2{
        background: cyan;

} 
#one{
 
    background-color: brown;
    text-decoration:none;
}

.two{
    margin-left: -5px;
    background-color: gold;
    
}
</style>
<title> 1st html </title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="a.css">
<div><h1> first html </h1></div>

<div style="background-color: red">
<span style=color:blue;background:darkgoldenrod;>http</span>
</div>
<div id="one" style="display: inline-block; height:200px; width:200px; ">
    <h4> Links<ul>
        <a href=adc.html><li>adc</li></a>
        <a href=arc.html><li>asc</li></a>
        <a href=asc.html><li>afc</li></a>
        <a href=adc.html><li>adc</li></a>
    </ul>
    </h4>
</div>
<div class="two" style="display: inline-block; height:200px; width:200px;">
    <h4> Menu<ul>
    <li>abc</li>
    <li>adc</li>
    <li>afc</li>
    <li>agc</li>
</ul></div>
</h4>    
</div>
</body>
</html>